// Transitions
//
// Usage:
// @include transitions('color, background-color')
// @include transitions('color, background-color', .5s)
@mixin transitions(
  $property: $transition-property,
  $duration: $transition-duration,
  $easing: $transition-easing,
  $delay: $transition-delay
) {
  transition-property: unquote($property);
  transition-duration: $duration;
  transition-timing-function: $easing;
  transition-delay: $delay;
}
