<header class="c-header {{ classes }}">
  <div class="container">
    <a href="/" style="display: inline-block; width: 200px;">
      {% include 'logo.svg' %}
    </a>

    <nav>
      <a href="/">Home</a>
      <a href="/example/">Example</a>
    </nav>

    <hr>
  </div>
</header>
