{% extends 'layouts/default.twig' %}

{% block sidebar %}
  Sidebar
{% endblock %}

{% block content %}
  <h1>Home Page</h1>

  <hr>

  {% include 'components/c-example.twig' with component['c-example'] only %}
{% endblock %}
